<main>
    <header class="container text-center">
        <h2>Lista de tarefas</h2>
    </header>
    <app-tarefas-list [tarefas]="this.tarefas"></app-tarefas-list>
    <footer class="container-fluid">
        <section class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="input-group">
                        <input (keydown.enter)="addTarefa()" #ipt_tarefa type="text" class="form-control" placeholder="Digite uma nova tarefa" [(ngModel)]="newTarefa.tarefa" />
                        <input (keydown.enter)="addTarefa()" type="time" class="form-control" [(ngModel)]="newTarefa.horario" style="max-width: 100px;" />
                        <button (click)="addTarefa()" class="btn btn-primary form-button">Adicionar</button>
                    </div>
                </div>
            </div>
        </section>
    </footer>
</main>