<main>
    <header class="container text-center">
        <h2>Lista de tarefas</h2>    
    </header>
    <section class="tarefas-container container border">
        <div class="row">
            <div class="col-md-12">
                <ul>
                    <li *ngFor="let item of tarefas">
                        <div class="d-flex">
                            <span class="tarefa-horario">{{ item.horario }}</span>
                            <span class="tarefa-text">{{ item.tarefa }}</span>
                            <button (click)="teste(item)" class="delete-btn" title="Excluir"><span class="mdi mdi-close"></span></button>
                        </div>
                    </li>
                </ul>
                <p class="info text-center" *ngIf="tarefas.length === 0">Nenhuma tarefa a ser listada</p>
            </div>
        </div>
    </section>
    <footer class="container-fluid">
        <section class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="input-group">
                        <input (keydown)="addTarefa($event.key)" id="ipt_tarefa" #ipt_tarefa type="time" class="form-control" [(ngModel)]="newTarefa.horario" style="max-width: 100px;" />
                        <input (keydown)="addTarefa($event.key)" type="text" class="form-control" placeholder="Digite uma nova tarefa" [(ngModel)]="newTarefa.tarefa" />
                        <button (click)="addTarefa()" class="btn btn-primary form-button">Adicionar</button>
                    </div>
                </div>
            </div>
        </section>
    </footer>
</main>